html { scroll-behavior: smooth; }
body { font-family: 'Nunito Sans', sans-serif; background-color: whitesmoke; }
h1, h2, h3, h4, h5, h6 { font-family: 'Nunito Sans', sans-serif; }
a { text-decoration: none; cursor: pointer; }
.content { width: 100%; max-width: 1160px; margin: 0 auto; } 


/*? IDs */
#hero { scroll-margin-top: calc(var(--header-height) + var(--main-padding)); }
#noticias, #redes { scroll-margin-top: calc(var(--header-height) + var(--main-gap)); }


/*? HEADER */
.main-header { height: var(--header-height); position: sticky; inset: 0; background-color: var(--carbon); z-index: 9999999;}
.main-header .content { height: 100%; display: flex; align-items: center; justify-content: space-between; }
.main-header .content .logo figure { height: 70px; aspect-ratio: 1; }
.main-header .content .logo img { height: 100%; width: 100%; transition: .2s filter linear;}
.main-header .content .logo img:hover { filter: drop-shadow(-2px 1px 5px  var(--oro)); }
.main-header .navbar ul { display: flex; gap: 3rem;}
.main-header .navbar li { position: relative; padding-bottom: 8px;}
.main-header .navbar li a { letter-spacing: 2px; text-transform: uppercase; font-weight: 700; font-size: 1.2rem; color: var(--gris);}
.main-header .navbar li a:hover {color: var(--oro);}
.main-header .navbar li a:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 3px; background-color: var(--oro); transform: scaleX(0);  transition: transform 0.3s;}
.main-header .navbar li a:hover:after { transform: scaleX(1);}


/*? MAIN */
#main { padding: var(--main-padding) 0; }
.main-content {  display: flex; flex-direction: column; gap: var(--main-gap); }


/*? HERO */
.hero .content {border-radius: 4px; background-color: var(--carbon);padding: 2rem 3rem; height: 650px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.hero .content .frame { height: 100%; position: relative; }
.hero .content .frame .shadow {  position: absolute; width: 100%; height: 100%; box-shadow: inset 0px 0px 40px 30px var(--carbon); top: 0; left: 0; }
.hero .content .frame .text-container { position: absolute; background-color: var(--carbon); width: fit-content; z-index: 10;}
#hero-title { inset: 48px auto auto 40px; rotate: -6deg; transform: skew(-9deg); padding: 1rem 2rem; background-color: var(--oro); color: var(--carbon);}
.hero .content .frame .title {  font-size: 4rem; font-weight: 900;  transform: skew(9deg); }
#hero-subtitle { inset: auto 30px 10px auto; transform: skew(-6deg); padding: 2rem 0 2rem 2rem; background-color: var(--carbon); color: var(--oro); }
.hero .content .frame .subtitle { font-size: 1.8rem; font-weight: 500; transform: skew(6deg); max-width: 22ch;}
.hero .content .frame figure { height: 100%; overflow: hidden; }
.hero .content .frame figure img { transition: all .4s ease-in-out; }
.hero .content .frame figure:hover img { scale: 1.1;}
.hero .content .frame img { height: 100%; }


/*? NEWS THUMBNAILS */
.news-thumbnails .content { height: auto; display: flex; gap: 1rem; }
.news-thumbnails .content .news-thumbnail { display: flex; flex-direction: column; width: 100%; max-width: 33.33%; border:2px solid var(--carbon); border-radius: 6px; background-color: var(--carbon); cursor: pointer;}
.news-thumbnails .content .news-thumbnail figure { height: 180px; }
.news-thumbnails .content .news-thumbnail figure img { height: 100%; width: 100%; object-fit: cover; overflow: hidden; border-top-right-radius: 6px; border-top-left-radius: 6px;}
.news-thumbnails .content .news-thumbnail .info { padding: 1rem; display: flex; flex-direction: column; gap: .8rem;}
.news-thumbnails .content .news-thumbnail .date { font-size: 1.3rem; font-weight: 500; letter-spacing: 1px; color: var(--gris); }
.news-thumbnails .content .news-thumbnail .title { font-size: 2rem; font-weight: 800; letter-spacing: 1px; color: var(--oro);}


/*? NEWS */
.news .content {  display: flex; gap: 1rem; }
.news .content .news-details { padding: 1rem; width: 100%; max-width: 66.3%; display: flex; flex-direction: column; gap: 1rem; background-color: var(--carbon); border: 2px solid var(--carbon); border-radius: 6px;}
.news .content .news-details .title { font-size: 2rem; font-weight: 700; letter-spacing: 2px; color: var(--oro); }
.news .content .news-details .card { padding: 1rem; display: flex;  gap: 1rem; }
.news .content .news-details .card:nth-child(odd) { flex-direction: row-reverse; }
.news .content .news-details .card:nth-child(odd) a { align-self: flex-start; }
.news .content .news-details .card-img {}
.news .content .news-details .card-img figure { height: 150px; width: 150px; }
.news .content .news-details .card-img img { height: 100%; width: 100%; object-fit: cover; }
.news .content .news-details .card-content { display: flex; flex-direction: column; gap: 14px; }
.news .content .news-details .card-content .card-title { font-size: 1.7rem; color: var(--oro); }
.news .content .news-details .card-content .card-description { font-size: 1.2rem; color: var(--gris); flex: 1; }
.news .content .news-details .card-content .card-link { align-self: flex-end; text-decoration: underline; color: var(--oro); }


/*? TIKTOK */
.news .content .tik-tok-panel {  flex: 1; position: relative; background-color: var(--carbon); border: 2px solid var(--carbon); border-radius: 6px;}
.news .content .tik-tok-panel video {  border-radius: 10px; }
.news .content .tik-tok-panel .tik-tok-container { position: absolute; inset:30px 30px auto auto; display: flex; flex-direction: column; gap:4px; color: whitesmoke; }
.news .content .tik-tok-panel .tik-tok-user { font-size: .83rem; }
.news .content .tik-tok-panel figure { height: 20px; display: flex; align-items: center; gap: 5px; }
.news .content .tik-tok-panel figure span { letter-spacing: -1px; font-size: 1.1rem; font-weight: 900; padding-top: 5px;}
.news .content .tik-tok-panel figure img { height: 100%; animation: tiktok 0.28s infinite;}
@keyframes tiktok {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(2px, 2px) rotate(2deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-2px, 2px) rotate(-2deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}


/*? FOOTER */
.main-footer { background-color: var(--carbon); color: var(--oro); }
.main-footer .copyright { text-align: center; }
.main-footer .content a { color: var(--oro); text-transform: uppercase; }
.main-footer .content img { height: 100%; width: 100%; object-fit: contain; }
.main-footer .content .sections { display: flex; justify-content: space-around; align-items: center;}
.main-footer .content .sections .contact-us { display: flex; flex-direction: column; align-items: center; }
.main-footer .content .sections .contact-us .logo-container { display: flex; align-items: center; gap: 2rem; }
.main-footer .content .sections .contact-us .logo-container figure { height: 200px; width: auto; }
.main-footer .content .sections .contact-us .logo-container button { border: 2px solid var(--oro); border-radius: 6px; padding: 8px; background-color: transparent; color: var(--oro); text-transform: uppercase; margin: 0 auto; }
.main-footer .content .sections .contact-us .logo-container h3 { margin-bottom: 1rem; text-align: center;}
.main-footer .content .sections .links-container ul { display: flex; flex-direction: column; gap: 2rem; }
.main-footer .content .sections .social-media-container { display: flex; flex-direction: column; gap: 1rem; }
.main-footer .content .sections .social-media-container figure { height: 30px; width: auto; }
.main-footer .content .sections .social-media-container svg { fill: var(--oro); }